{% extends 'base.html' %}

{% block title %}RAM{% endblock %}

{% block content %}
    <h2 class="mb-4 mt-4">RAM</h2>

    <table class="table table-bordered">
        <tr>
            <th>Total</th>
            <td>{{ total }}</td>
        </tr>
        <tr>
            <th>Used</th>
            <td>{{ used }}</td>
        </tr>
        <tr>
            <th>Free</th>
            <td>{{ free }}</td>
        </tr>
        <tr>
            <th>Used percent</th>
            <td>{{ used_percent }} %</td>
        </tr>
    </table>

{% endblock %}